= error_messages_for @object

.box.tabular
  -#%p
    = f.select :project_id, @projects.map{ |i| [h(i.name), i.id] }, :include_blank => true, :required => true
  %p
    = f.select :issue_id, @issues.map{ |i| [h("##{i.id} #{i.subject}"), i.id] }, :include_blank => true, :required => true
  %p
    = f.text_field :trip_on, :size => 10, :required => true
    = calendar_for('trip_trip_on')
  %p
    = label_tag_for :trip_start_time, :required => true
    = f.time_select :trip_start_time, :minute_step => 15
  %p
    = label_tag_for :trip_end_time, :required => true
    = f.time_select :trip_end_time, :minute_step => 15
  %p
    = f.text_field :comments, :size => 100, :required => true
