.contextual
  = link_to l(:label_trip_new), {:action => :new, :trip => {:project_id => params[:project_id] }}, :class => 'icon icon-add'
%h2
  =l(:label_trip_plural)

- if @collection.any?
  %table.list
    %thead
      %tr
        %th=l(:field_project)
        %th=l(:label_member)
        %th=l(:field_trip_on)
        %th=l(:label_trip_time)
        %th=l(:field_comments)
        %th
    %tbody
      - @collection.each do |object|
        %tr{:class=>cycle("odd", "even")}
          %td
            = link_to_project object.project
          %td
            = link_to_user object.user
          %td{:align=>"center"}
            = format_date object.trip_on
          %td{:align=>"center"}
            = format_time(object.trip_start_time, false)
            = "-"
            = format_time(object.trip_end_time, false)
          %td
            =h object.comments
          %td.buttons
            = link_to l(:button_update), {:action => 'edit', :id => object.id}, :class => 'icon icon-edit'
            = link_to l(:button_delete), trip_path(object), :method => :delete, :confirm => l(:text_are_you_sure), :class => 'icon icon-del'
- else
  %p.nodata
    = l(:label_no_data)

- html_title(l(:label_trip_plural))
