%h2
  = link_to l(:label_trip_plural), :action => :index
  &#187;
  = l(:label_trip_new)
  
- labelled_form_for @object do |f|
  = back_url_hidden_field_tag 
  = render :partial => 'form', :locals => {:f => f}
  = submit_tag l(:button_save), :disabled => false

- html_title(l(:label_trip_plural), l(:label_trip_new))
